@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Spice&display=swap')

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

body {
<<<<<<< HEAD
<<<<<<< HEAD
    background: rgba(16, 9, 86, 1.0);
=======
    background: rgba(10, 10, 10, 1.0);
>>>>>>> 4e13467f7dae991468c380477ba3d43c72537084
=======
    background: rgba(10, 10, 10, 1.0);
>>>>>>> d26f5f2aa7b8de1e4530c7492651228588fe17fd
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

canvas {
    background: rgba(0, 0, 0, 1.0);
}